:root {
    --bg-color: white;
    --text-color: black;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation-menu>li {
    padding-left: 50px;
    padding-right: 50px;
}

.navigation-menu a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    display: block;
    width: 774px;
    margin-top: 49px;
    margin-bottom: 38px;
    color: var(--text-color);
}

.paragraph {
    margin: 0 62.5px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

.paragraph+.paragraph {
    margin-top: 28px;
}

.main-button {
    margin-top: 66px;
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 51px;
    background-color: #ff0000;
    color: #ffffff;
    margin-bottom: 82px;
}

footer {
    width: 100%;
}

.footer-paragraph {
    text-align: end;
    margin-bottom: 29px;
    color: var(--text-color);
}