html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

* {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.page-background {
    background: url("../img/journey-background.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-zone {
    width: 100%;
    background: rgba(0, 0, 0, 0.41);
}

.container-header {
    width: 1154px;
    margin: auto;
    display: flex;
    align-items: center;
}

.head-title {
    flex-grow: 1;
    margin-top: 19px;
    margin-bottom: 19px;
    font-size: 22px;
    font-weight: bold;
}

.head-title a:hover {
    color: #3CB878
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-right: 20px;
}

.icon:hover path {
    fill: #3CB878;
}

.header-login::before {
    content: '';
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    height: 15px;
    margin-right: 35px;
}

.header-login-link:hover, .header-signup-link:hover {
    color: #3CB878
}

.container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.block-signup {
    background-color: white;
    border-radius: 6px;
    width: 328px;
    padding: 30px 60px;
    position: relative;
}

.block-signup-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.block-signup-head::before {
    content: '';
    display: block;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
}

.form-title {
    font-size: 20px;
    color: #434343;
}

.form-signup-login-link {
    color: #3CB878;
}

.form-signup-login-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.v-line {
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    opacity: 0.1;
}

.button {
    padding: 9px 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #DF4A32;
    text-align: center;
    border-radius: 4px;
}

.button:first-child {
    background-color: #305DB8;
}

.button:first-child:hover {
    background-color: #022263;
}

.button:last-child:hover {
    background-color: #AB1F09;
}

.button p {
    flex-grow: 1;
}

.img-block {
    height: 100%;
    width: 47px;
    background: url('../img/icon-facebook1.png') no-repeat;
    background-position: center;
}

.icon-google {
    background-image: url('../img/icon-google.png');
}

.block-signup-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
}

.text-or {
    color: #848484;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    column-gap: 1px;
}

.text-or::before, .text-or::after {
    content: '';
    display: block;
    border-top: 1px solid #F2F2F2;
    width: 100%;
}

.label-item {
    width: 100%;
}

.input-item {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #BEBEBE;
    margin-bottom: 10px;
}

.input-item:focus {
    outline: none;
    border-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: #434343;
    background: #FFFFFF
}

.agree-our {
    display: inline-block;
    color: #434343;
    margin-left: 10px;
}

.button-create-account {
    outline: none;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    background: #3CB878;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    border: 1px solid #3CB878;
}

.button-create-account:hover {
    background-color: #01813F;
}

.terms-cond {
    color: #3CB878;
    text-decoration: none;
}

.terms-cond:hover {
    color: #01813F;
    text-decoration: underline;
}

.checkbox {
    margin-top: 12px;
    margin-bottom: 28px;
}