footer {
    margin-top: 77px;
    background: #000000;
}

footer .container-small {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    padding: 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
}