header {
    display: flex;
    justify-content: space-between;
    background: #313131;
    padding-left: 29px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo>img+p {
    margin-left: 27px;
}

.logo>p {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.header-menu {
    display: flex;
    padding: 26px 0 28px;
}

.header-item {
    list-style: none;
}

.header-item+.header-item {
    padding-left: 35px;
}

.header-item>a {
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.header-item>a:hover {
    color: #14B9D5;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
    background: #000000;
}