.hot-news .container-small {
    display: grid;
    grid-template-columns: min-content 1fr 1fr min-content;
    grid-row-gap: 43px;
    grid-column-gap: 35px;
}

.card-big {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background: #F9F7F7;
    padding-right: 24px;
    align-items: center;
    grid-column-end: span 3;
}

.card-big img {
    padding-right: 15px;
}

.card-big h1 {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.card-big p {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.card-big h1+p {
    padding-top: 15px;
}

.card-small {
    width: min-content;
    background: #F9F7F7;
}

.card-small h1 {
    padding: 14px 0 11px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.card-medium {
    grid-column-end: span 2;
    width: min-content;
    background: #F9F7F7;
    padding-bottom: 3px;
}

.card-medium img {
    padding-bottom: 14px;
}

.card-medium h1+p {
    padding-top: 15px;
}

.card-medium h1 {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.card-medium p {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}

.card-medium p, .card-medium h1 {
    padding: 0 14px;
}

.card-medium:nth-child(2n) {
    justify-self: end;
}