.latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/header-bg.jpeg');
    background-position: center;
    padding: 163px 0 74px;
}

.latest-news>.title {
    padding: 0;
    color: #ffffff;
}

.latest-news>.title+.btn-group {
    margin-top: 44px;
}

.btn-group>button {
    border: none;
    border-radius: 4px;
    padding: 16px 19px 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}

.btn-group>button+button {
    margin-left: 20px;
}

.btn-group>:first-child {
    background: #89CA62;
}

.btn-group>:last-child {
    background: #14B9D5;
}