.most-popular-posts {
    background: #F2F2F2;
    padding-bottom: 72px;
}

.most-popular-posts .row {
    display: flex;
    justify-content: space-between;
}

.popular-post-card {
    width: min-content;
    background: #ffffff;
}

.popular-post-card+.popular-post-card {
    margin-top: 32px;
}

.popular-post-card>p {
    text-align: center;
    padding: 20px 0 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}