.out-most-popular-clients {
    background-image: url("../images/parallax-bg.jpeg");
    background-position: center;
    display: grid;
    justify-content: center;
    padding: 117px 0 183px;
}

.out-most-popular-clients h1 {
    color: #ffffff;
}

.out-most-popular-clients hr {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: none;
    margin: 87px 0 100px;
    justify-self: center;
}

.image-set {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 58px;
    align-items: center;
}