@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1900px;
    margin: auto;
}

.container-small {
    margin: auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 50px 0;
    text-align: center;
    color: #18B4CF;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
}

img {
    display: block;
}