html {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1920px;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("../img/Layer.png");
    background-position: center;
    height: 1012px;
}

.head-zone {
    position: fixed;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    width: 1160px;
    margin: auto;
}

.logo {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo>p+p {
    margin-left: 6px;
}

.logo>p:first-child {
    font-weight: bold;
    font-size: 40px;
    background-image: url("../img/Polygon.png");
    width: 58px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>p:last-child {
    font-size: 32px;
}

.logo>p>a>span:last-child {
    color: #18CFAB;
}

.logo>p>a {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.header-list {
    display: flex;
}

.header-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 120px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(0,0,0,0);
}

.header-item:hover {
    color: #18CFAB;
    border-bottom-color: #18CFAB;
}

.header-item+.header-item {
    margin-left: 22px;
}

.search {
    margin-left: 21px;
}

.ham-is-wordpress {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 264px 0 243px;
    color: #ffffff;
}

.title-1 {
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 22px;
}

h1>span:last-child {
    color: #18CFAB;
}

.big-title {
    font-weight: bold;
    font-size: 78px;
    padding-bottom: 22px;
}

.title-2 {
    font-size: 34px;
    color: #D4D4D4;
    padding-bottom: 22px;
}

.ham-is-wordpress>.btn-group {
    padding-top: 134px;
}

.btn-group>button {
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 4px;
}

.btn-ham-is-wordpress {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    box-shadow: 0 -5px;
}

.btn-group>button+button {
    margin-left: 26px;
}

.btn-group>:first-child {
    background: #18CFAB;
}

.btn-group>:last-child {
    background: #00CBF6;
}

.option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 360px;
    padding-top: 8px;
}

.card {
    background-color: #18CFAB;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    grid-row-gap: 58px;
}

.dark {
    background-color: #1C2A33;
    color: #18CFAB;
    grid-row-gap: 48px;
}

.container-small {
    width: 1160px;
    margin: 0 auto;
}

.services {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
}

.services>h1,  .gallery>h1 {
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.lines {
    align-self: center;
    margin-top: 24px;
    margin-bottom: 67px;
    width: 91px;
    display: flex;
    flex-direction: column;
}

.line {
    background-color: #18CFAB;
    width: 79px;
    height: 2px;
}

.line:last-child {
    align-self: flex-end;
}

.line+.line {
    margin-top: 4px;
}

.menu-list {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    background: #F8FCFE;
}

.service-list {
    display: flex;
    margin-bottom: 23px;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    font-size: 16px;
    color: #717171;
    outline: 1px solid #EDEFEF;
    outline-offset: -1px;
    flex-basis: 100%;
    position: relative;
}

.service-item:hover {
    outline: 2px solid #18CFAB;
    outline-offset: -2px;
    z-index: 1;
}

.service-item-after {
    background-color: #18cfab;
    color: white;
}

.service-item-after:after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 16px;
    height: 16px;
    background-color: #18cfab;
    z-index: 2;
    transform: rotate(45deg);
}

.content {
    display: flex;
}

.content>img {
    margin-right: 15px;
}

.content>p {
    font-size: 13px;
    line-height: 24px;
    color: #777777;
    display: flex;
    align-items: center;
}

.container-big {
    width: 1920px;
    margin: 0 auto;
}

.purchase {
    box-sizing: border-box;
    margin-top: 91px;
    padding-top: 127px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 476px;
    background-image: url("../img/Layer-211.png");
}

.purchase>h1 {
    font-weight: bold;
    font-size: 40px;
    color: #18CFAB;
}

.purchase>h2 {
    font-size: 16px;
    color: #D8D8D8;
    padding-top: 13px;
    padding-bottom: 62px;
}

.btn-purchase {
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    box-shadow: 0 -5px;
    background: #18CFAB;
    border: none;
    border-radius: 4px;
    height: 63px;
    width: 169px;
}

.work-block {
    padding-top: 96px;
    padding-bottom: 100px;
    background-color: #E9EDEF;
}

.work {
    display: flex;
    flex-direction: column;
}

.work>h1 {
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.container-little {
    width: 590px;
    margin: 0 auto;
}

.work-menu {
    display: flex;
    margin-bottom: 71px;
}

.work-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    font-size: 14px;
    color: #717171;
    flex-basis: 100%;
    border: 1px solid #dadada;
}

.work-item:hover {
    outline: #18CFAB solid 3px;
    outline-offset: -3px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 70px;
}

.work-card {
    position: relative;
}

.work-img {
    width: 100%;
    height: 100%;
}

.work-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #DADADA;
    border-top: 3px solid #18CFAB;
    opacity: 0;
    transition: opacity .5s;
}

.work-card:hover .work-hover {
    opacity: 100;
}

.work-hover button {
    border-radius: 50%;
    border: 1px solid #18cfab;
    width: 43px;
    height: 43px;
}

.btn-one:hover {
    fill: white;
    background: #18cfab;
    transition: 0.5s;
}

.btn-one>img {
    margin-top: 3px;
}

.btn-two>img {
    fill: #18cfab;
}

.btn-two:hover {
    fill: white;
    background: #18cfab;
    transition: 0.5s;
}

.work-hover h1 {
    padding-top: 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
}

.work-hover p {
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

/*button>.loader-btn {*/
/*    margin: 0 auto;*/
/*}*/

.loader-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 63px;
    font-weight: bold;
    color: #FFFFFF;
    background: #18CFAB;
    border: none;
    border-radius: 4px;
}

.loader-btn>p:first-child {
    font-size: 40px;
}

.loader-btn>p:last-child {
    padding-left: 15px;
    font-size: 14px;
}

#more_gallery {
    margin-top: 52px;
}

.news-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 44px;
}

.center {
    display: flex;
    flex-direction: column;
    margin-top: 82px;
}

.center>h1 {
    font-size: 36px;
    text-align: center;
    color: #4E4E4E;
}

.news-card {
    position: relative;
    color: #717171;
}

.news-card h1 {
    transition: color .5s;
}

.news-card>img {
    width: 100%;
}

.news-hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    background: #203E38;
    transition: background-color .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: white;
}

.news-card:hover .news-hover {
    background: #18CFAB;
}

.news-card:hover h1 {
    color: #18CFAB;
}

.reviews-bg {
    background-image: url("../img/section-3.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 853px;
}

.reviews {
    margin-top: 130px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p#job {
    padding-top: 10px;
    padding-bottom: 38px;
}

.reviews>h1 {
    font-size: 36px;
    color: #FFFFFF;
}

h3#name {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #18CFAB;
    margin-top: 37px;
}

.text {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
    line-height: 30px;
}

.svg {
    color: #18CFAB;
    width: 47px;
    align-self: center;
    margin-bottom: 36px;
}

.reviews>p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.big-image {
    width: 170px;
}

.list-image {
    display: flex;
    align-items: center;
}

.active-image {
    margin-bottom: 11px;
}

#left_btn, #right_btn {
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#left_btn:hover, #right_btn:hover {
    background: #18CFAB;
}

footer {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #aeaeae;
    height: 120px;
    background: #22353f;
    margin-top: 67px;
}

footer p {
    padding-top: 50px;
}

footer span {
    color: #18cfab;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.gallery img {
    width: 100%;
}

.gallery-column {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.gallery-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery-two-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3px;
}

.gallery-two-image img,
.gallery-grid img {
    height: 100%;
    object-fit: cover;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
}

.gallery-two-image + .gallery-grid {
    margin-top: 3px;
}