* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1366px;
    height: 768px;
    background-image: url("../images/background 1.png");
    display: flex;
    flex-direction: column;
    padding-top: 46px;
}

.container-small {
    width: 1030px;
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-colorcolor: #F26522;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    margin-right: 8px;
    border: 1px solid rgba(0,0,0,0.3);
}

.logo p {
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}

.logo p:first-child {
    font-size: 29px;
    line-height: 29px;
}

.logo p:last-child {
    font-size: 18px;
    line-height: 18px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.contacts a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts a+a {
    margin-top: 19px;
}

.content {
    padding-top: 20px;
    width: 1030px;
    height: 560px;
    left: 169px;
    top: 124px;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 57px;
    grid-column-gap: 63px;
    margin-bottom: 28px;
}

.card {
    display: grid;
    justify-content: center;
    text-align: center;
}

.content img {
    width: 300px;
    height: 220px;
    left: 4px;
    top: 0px;
}

.card a {
    padding-top: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

footer {
    margin-top: 48px;
    text-align: center;
    font-family: Roboto;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

footer p {
    left: 0px;
    top: 0px;

}