* {
    font-family: sans-serif;
    color: #ffba13;
    background-color: #000;

}

body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.star-wars {
    text-align: center;
    position: absolute;
    width: 20em;
    height: 50em;
    bottom: 0;
    margin-left: 2em;
    font-size: 400%;
    line-height: 200%;
    font-weight: bold;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

.star-wars-animation {
    position: absolute;
    top: 100%;
    animation: star-wars-style 30s linear 1s infinite;
}

@keyframes star-wars-style {
    0% { top: 100%; }
    100% { top: 10%; }
}