.content {
    display: flex;
    justify-content: space-between;
}

.content-menu {
    min-width: 344px;
    height: fit-content;
    list-style: none;
    border: #000000 solid 1px;
}

.content-item {
    padding: 27px 0 27px 44px;
}

.content-item:hover {
    background: #DBDBDB;
}

.content-item:hover>a {
    color: #000000;
}

.content-item>a {
    font-size: 27px;
    color: #485863;
    text-decoration: none;
}

main {
    width: min-content;
}

.main-image {
    padding: 73px 281px;
    border: 1px solid #000000;
}

.main-image+.main-text {
    margin-top: 37px;
}

.main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.main-text>p+p {
    padding-top: 34px;
}