footer {
    background: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    list-style: none;
}

.footer-item:hover>a {
    padding-bottom: 6px;
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
}

.footer-item+.footer-item {
    margin-left: 24px;
}

.footer-item>a {
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.item-right {
    font-size: 24px;
    flex-grow: 1;
    text-align: right;
}