.logo {
    font-size: 80px;
    margin-bottom: 40px;
}

.logo a {
    text-decoration: none;
}

.logo :first-child {
    color: #000000;
}

.logo :last-child {
    color: #4BCAFF;
}

.header-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #35444F;
}

.header-item {
    padding: 24px 32px 18px;
}

.header-item:hover {
    background: #222F3A;
}

.header-item:first-child,
.header-item+.header-item {
    border-left: 1px solid #FFFFFF;
}

.header-item:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-item>a {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;
}