@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    padding: 63px 0 30px;
    width: 1280px;
}

header+.content {
    margin-top: 48px;
}

.content+footer {
    margin-top: 51px;
}